<div class="add-comment">

    <form action="/comment/save" method="post">
        <input type="text" placeholder="Add Comment" name="content">
        <input type="hidden" value="<%= post._id%>" name="post">
        <input type="submit" value="add">
    </form>
</div>