<li id="comment-<%= comment._id %>">
    <p>
        <%if((locals.user && locals.user.id == comment.user.id)||locals.user && locals.user.id == post.user.id){%>
        <small>
            <a href="/comment/delete/<%=comment.id%>" class="delete-comment-button">X</a>
        </small>
        <%}%>
        <%=comment.content%>
        <br>
        <small>
            <%=comment.user.name%>
        </small>
    </p> 
</li>