<div>
     This is Home Page
</div>
<section>
     <% if(locals.user){%>
          <form action="/post/save" method="post" id="post-form-data">
               <textarea name="content" cols="30" rows="4" placeholder="Enter Text"></textarea>
               <input type="submit" value="Post">
          </form>
          <%} %>

          <div id="post-list-container">
              <ul>
                 <% for(post of posts){%>
                    <%-include('_post')-%>
                    <%} %>
              </ul>
          </div>
              
</section>

<section class="user-friend">
      <h3>Friends: </h3>
      <% for(u of users){%>
          
          <p>
               <a href="/user/profile/<%= u.id%>"><%= u.name%></a>
          </p>
          <%} %>
</section>

<script src="/js/Post_add_data.js"></script>