#home-container {
    display: flex;
}

#home-container .create-post {
    margin-left: 10%;
    margin-top: 3em;
}

#home-container .create-post #text-content {
    border-radius: 10px;
    border: 2px solid lightgray;
    padding: .8em;
    resize: none;
    margin-bottom: 1em;
}

#home-container .create-post #post-form input {
    background-color: #3a3a76;
    color: white;
    cursor: pointer;
    width: 5.5em;
    height: 2em;
    border-radius: 10px;
    border: none;
}

#home-container .create-post #post-form input:hover {
    background-color: red;
}

#home-container .users-container {
    margin-left: 15%;
    padding: 2em;
    border-left: 2px solid lightgray;
}